/* PortfolioComponent's private CSS styles */
.artworkList li {
  list-style: none;
  text-align: center;
  margin-bottom: 2em;

  float: none;
  width: 100%;

}

/* Larger than tablet */
@media (min-width: 750px) {
  .artworkList li {
    float: left;
    width: 47%;
  }
}

.artworkList li:nth-child(odd) {
  margin-right: 5%;
}

.artworkList p {
  line-height: 1.2em;
}

.artworkList li img {
  max-width: 100%;
  max-height: 250px;
  border: 1px solid #999;
}

.portfolioList li {
  list-style: none;
}
